@import 'assets/styles/colors';

.footer{
  display: flex;
  position: fixed;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $playerBg;
  height: 60px;
  z-index: 10;
  transform: translateY(100%);
}

.footer>div{
  width: 100%;
  display: inline-block;
}

.thumbnail{
  float: left;
  display: inline-block;
}

.player{
  width: 60%;
  display: inline-block;
  vertical-align: middle;
}

.player-img{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  margin-left: 3%;
  vertical-align: middle;
}

.footer-title{
  vertical-align: middle;
  display: inline-block;
  font-size: .69rem;
  margin-left: 1%;
  width: 25%;
  color: $grey;
}

.back-to-view-anim{
transform: translateY(0%);
  transition: transform 600ms;
}
