@import 'assets/styles/colors';

.songcard{
  width: 220px;
  height: 140px;
  display: inline-block;
  margin: 15px 33.5px;
  border: 1px solid $shadow;
  position: relative;
}

.song-img{
  width: 200px;
  height: 85px;
  margin: 10px 10px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.details{
  margin-left: 10px;
  display: inline-block;
  width: 75%;
}

.songcard .details h1, .songcard .details h2{
  font-size: 0.69rem;
  color: $grey;
  //letter-spacing: 0.94rem;
  margin: 0;
  display: block;
}

.add-to-list{
  margin-right: 10px;
  color: $shadow;
  float: right;
  //width: 20px;
  //  height: 20px;
  font-size: large;
  //margin: 10px;
  background-color: $white;
  border: none;
  //margin: 0;
}

.add-to-list:hover{
  color: $darkGrey;
}

.add-to-list .fa-clock-o{
  width: 17px;
  height: 17px;
}

.checkbox-box{
  width: 130px;
  height: 110px;
  background: $white;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
  display: inline-block;
  margin-left: -96px;
  top: 127px;
  z-index: 10;
  position: absolute;
}

.checkbox-header p{
  font-size: 0.69rem;
  color: $grey;
  padding-top: 10px;
  padding-left: 10px;
  font-weight: 600;
}

.checkbox-header button{
  font-size: 9px;
  color: $mainBlue;
  background-color: $white;
  cursor: pointer;
  padding-bottom: 3px;
  padding-left: 10px;
}

.checkbox-box form{
  margin: 0 10px;
  border-top: 1px solid $border;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 6.2px;
}

.checkbox-box form p{
  font-size: 9px;
  color: $grey;
  display: inline-block;
  padding-left: 5px;
  line-height: 12px;
}

.checkbox-box form div{
  line-height: 12px;
  display: flex;

}

.blue-heart, .blue-heart:hover, .fa-heart, .fa-heart:hover{
  color: $mainBlue;
}

.song-image{
  background-color: rgba(0,0,0,0.75);
  color: white;
  font-size: 70px;
  text-align: center;
  width: 100%;
  height: 100%;
padding-top: 10px;
  display: none;
  cursor: pointer;
}

.song-img:hover .song-image{
  display: block;
}

.playing{
  display: block;
}

form > ul{
  height: 60px;
  width: 109px;
  overflow-x: hidden;
  overflow-y: auto;
}

label.checkbox {
  padding-left: 20px;
  cursor: pointer;
  font-size: 0.56rem;
  position: relative;
}

.indicator {
  border-radius: 3px;
  border: 1px solid #dde4e6;
  position: absolute;
  left: 0px;
  top: -3px;
  width: 0.9rem;
  height: 0.9rem;
  background-color: #ffff;
  cursor: pointer;
  transition: all .2s ease-in;
}

label:hover > .indicator,
.indicator:hover {
  border: 2px solid $mainBlue;
}

input[type=checkbox] {
  opacity: 0;
}

label.checkbox > input[type="checkbox"]:checked ~ .indicator {
  background: $mainBlue url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75 75"><defs><style>.cls-1{fill:#fff;}</style></defs><title>Artboard 1</title><g id="GyyoQ7.tif"><path class="cls-1" d="M71.23,18.81l-6.12-6.12a4.05,4.05,0,0,0-5.73,0h0L30.59,41.48l-13-13a4,4,0,0,0-5.73,0h0L5.77,34.64a4.05,4.05,0,0,0,0,5.73h0L21.6,56.19l6.12,6.12a4.05,4.05,0,0,0,5.73,0h0l6.12-6.12L71.23,24.54a4,4,0,0,0,0-5.73Z"/></g></svg>') no-repeat;
  border: 2px solid $mainBlue;
}
