main, header, footer, figcaption, section, div, ul, li, h2, h3, p, a {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  text-decoration: none;
}

html,
body {
  font: 100% 'Source Sans Pro', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  box-sizing: border-box;
}

//input[type=email], input[type=text], input[type=password], a:not([class*=btn]){
//  background: none;
//}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding-top: 94px;
  padding-bottom: 50px;
}

input{
  border: none;
}

a:link, a:visited, a:hover, a:target{
  color: #2196F3;
}

#root, .main-root, main{
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.loading{
  display: flex;
}

.fa-spinner{
  color: #2196F3;
  margin: 50px auto;
  display: inline-block;
  font-size: 5rem;
}

//----------topBar

.navbar{
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2196F3;
  height: 64px;
  z-index: 10;
}

.right{
  display: flex;
  align-items: center;
}

//.left{
  //display: flex;
  //justify-content: flex-start;

//}

.menu{
 display: flex;
  justify-content: flex-start;
  align-items: center;
 // width: 50%;
}

.menu li{
  line-height: 64px;
  //display: inline-block;
  //padding: 10px;
  //display: flex;
  //align-content: center;
}

.menu a{
  color: white;

  height: 64px;
  font-size: 0.94rem;
}

.link{
  height: 64px;
  padding: 22px 10px;
}

.logo-part{
  padding-left: 10px;
  padding-right: 15px;
  width: 158px;
  display: flex;
  justify-content: space-around;
}
.nav-logo{
  font-size: 1.88rem;
  padding-bottom: 8px;
  //color: white;
  //margin: 17px 10px;
}

.logo-name{
  font-size: 1.25rem;
  font-weight: 500;
  width: 158px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //margin-right: 30px;
}

.links, .navbar> ul{
  //height: 64px;
}

.selected-nav{
  background-color: #1E88E5;
  //height: 64px;
}

.search{
  //position: fixed;
  //top: 20px;
  //right: 75.9px;
  color: white;
  border: white 1px solid;
  border-radius: 50px;
  width: 234.7px;
  height: 25px;
  padding-left: 32px;
  background-color: #1E88E5;
}

.navbar .logout{
  //position: fixed;
  //top: 22px;
  margin-right: 10.1px;
  margin-left: 13.8px;
  border: none;
  background-color: #2196F3;

}
.logout a{
  color: white;
}

.navbar .fa-search{
  height: 17px;
  width: 16px;
  position: fixed;
  right: 288.6px;
  top: 24px;
  color: white;
}

//----------------player

.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #FBFBFB;
  height: 60px;
  z-index: 10;
}

.thumbnail{
  float: left;
  display: inline-block;
}

.footer-title{
  display: inline-block;
  left: 20%;
  padding-bottom: 5px;
  padding-left: 15px;
  margin: 0;
}

.player{
  position: fixed;
  bottom: 5px;
  left: 30%;
  width: 60%;
}

.songcard{
  width: 220px;
  height: 140px;
  display: inline-block;
  margin: 15px 33.5px;
  border: 1px solid #D8D8D8;
  position: relative;
}

.song-img{
  width: 200px;
  height: 85px;
  margin: 10px 10px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.song-thumbnail{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.details{
  margin-left: 10px;
  display: inline-block;
  width: 85%;
}

.songcard h1, .songcard h2{
  font-size: 0.69rem;
  color: #4A4A4A;
  //letter-spacing: 0.94rem;
  margin: 0;
  display: block;
}

.add-to-list{
  float: right;
width: 17px;
  height: 17px;
  font-size: large;
  padding: 0;

  margin: 0;
}

.add-to-list i{
  color: #2196F3;
}

.categories{
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #DDE4E6;
  display: flex;
  //justify-content: space-around;
  z-index: 10;
  color: black;
}

.selected-genre{
  //border-bottom: solid 1px black;
text-decoration: underline;
}

.categories li{
  display: flex;
  align-self: center;
  padding-left: 10px;
  padding-right: 29px;
}

.categories a{
  color: black;
  font-weight: 300;
}

.genre-title{
  padding: 30px;
  font-size: 1.44rem;
}

.songs{
  //max-width: 996px;
  //max-height: 680px;
  margin-top: -10px;
  //overflow: scroll;
  padding-bottom: 60px;
}

.songs ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-num{
  display: flex;
  width: 380px;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 46px;
  padding-bottom: 15px;
}

.explore-comp{
  padding-bottom: 60px;
}

.page-num p{
  display: inline-block;
  font-size: 0.88rem;
  align-self: center;
}

.page-num button{
  width: 87px;
  height: 30px;
  font-size: 0.81rem;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 3px;
}

.page-num button:disabled{
  background-color: #D8D8D8;
}

.sign{
  background-color: white;
 position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
display: flex;
//justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.sign-in h1{
display: block;
}

.register{
  //flex-wrap: wrap;
}

.register form{
  width: 416px;
}

.register form h2{
  font-size: 1.81rem;
  margin-bottom: 20px;
}

.register label{
  display: block;
  padding: 20px 0;
  color: #2196F3;
  font-size: 0.81rem;
}

.register input{
  display: block;
  width: 100%;
  height: 40px;
  border-bottom: solid 1px #2196F3;
  font-size: 1.06rem;
}

.register h1{
  color: #2196F3;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
  padding-bottom: 48px;
  //margin-top: -30px;
}

.signup-btn{
  background-color: #2196F3;
  border: none;
  text-transform: uppercase;
  color: white;
  padding: 6.5px;
  margin: 46px 164.5px 35px 164.5px;
  font-size: 0.94rem;
  letter-spacing: 0.65px;
}

.signup-btn a{
  color: white;
}

.big-logo{
  color: #2196F3;
  font-size: 6.25rem;
  padding-top: 30px;
}

.register footer{
  width: 416px;
  background-color: white;
}

.register footer h3{
  display: inline-block;
  font-weight: 300;
  font-size: 0.88rem;
}

.register footer button{
  color: #2196F3;
  background-color: white;
  border: none;
  margin-left: 20px;
  font-size: 0.88rem;
}

.explore-comp{
  width: 100%;
  height: 100%;
}
