.songs{
  margin-top: -10px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
}

.songs ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

//.songs:after{
//  content: "";
//  flex: auto;
//  width: auto;
//}

.songs .empty {
  display: inline-block;
  height: 0;
  border: none;
  width: 220px;
  margin: 15px 33.5px;
}
