
.playlists-comp-main{
  width: 100%;
}

.playlists-comp-main{
  margin-top: -50px;
}

.right-playlists{
  margin-left: 200px;
  display: block;
  padding-top: 20px;
  //justify-content: space-between;
}

.playlist-comp .songs{
  padding: 0px;
  margin: 0px;
}
